@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #5b010b;
  background-image: url("Image/background.webp");
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-nav {
  height: 66px;
  background-image: url("Image/bgnav.webp");
  background-size: 100% 100%;
  position: fixed;
  top: 2px;
  background-color: #fff;
}

.docao {
  height: 55px;
  background-image: url("Image/bg-tocdocao.webp");
  background-size: 100% 100%;
}
.docao h1,
.docao img {
  display: block;
}

.toggle-btn {
  display: none;
}

.nav-menu {
  display: flex;
  height: 60px;
  transition: 0.3s;
}

.nav-menu li {
  text-align: center;
}

.slide {
  transition: none;
}

.charity-btn {
  background-image: url("Image/button-white.webp");
  background-size: 100% 100%;
  border: none; /* Remove default button border */
  cursor: pointer; /* Show pointer cursor on hover */
}

.charity-btn:hover {
  background-image: url("Image/button-yellow.webp");
}

.active {
  background-image: url("Image/button-yellow.webp");
}

.new-active {
  display: block;
}

@media screen and (min-width: 1170px) {
  .my-nav {
    top: 2px;
  }
  .toggle-btn {
    display: none;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: unset;
  }
}

@media screen and (max-width: 1170px) {
  .my-nav {
    top: 0px;
  }
  .toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-menu {
    width: 100%;
    display: none;
    position: absolute;
    top: 60px;
    left: -0px;
    background-color: #fff;
  }

  .docao {
    background-image: url("Image/docau2.png");
  }
  .docao h1,
  .docao img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .my-nav {
    background-image: none;
  }
}
